/RIBO-K90D1_R1_trimmed.fastq
/RIBO_K90D1_R1_trimmed.csv
/RIBO-K90D2_R1_trimmed.fastq
/total_results.csv
/RIBO-WT3_R1_trimmed.fastq
/RIBO-WT2_R1_trimmed.fastq
/RIBO-WT1_R1_trimmed.fastq
/RIBO-K90D3_R1_trimmed.fastq
